<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="../static\css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light p-3 sticky-top text-light mb-0" style="background-color: #1A202C;">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">Avante</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Product</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="btn btn-primary text-light rounded-pill px-lg-4 border border-light" href="/Login/" style="background-color: #1A202C;">Login</a>
                    <a class="btn text-dark mx-lg-3 font-weight-bold rounded-pill px-lg-3" style="background-color: #CAAB72;" href="/Login/">Register</a>
                </form>
            </div>
        </div>
    </nav>

    <div class="slideshow mt-0 pt-0" style="box-sizing: border-box;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/image/banner1.jpg" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
              <img src="../static/image/banner2.jpg" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
              <img src="../static/image/banner3.jpg" class="d-block w-100" alt="Slide 3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
      <div class="container border-bottom pb-5">
        <h1 class="text-light text-center my-5">NEW ARRIVAL</h1>
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="card mx-4 mb-3">
              <img src="../static/image/item1.jpg" class="card-img-top" alt="Gambar 1">
            </div>
            <div class="card-body text-light mx-4 d-flex justify-content-lg-between">
              <p class="card-text">Produk 4</p>
              <p class="card-text d-flex ">Rp. 250.000</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="card mx-4 mb-3">
              <img src="../static/image/item2.jpg" class="card-img-top" alt="Gambar 2">
            </div>
            <div class="card-body text-light mx-4 d-flex justify-content-lg-between">
              <p class="card-text">Produk 4</p>
              <p class="card-text d-flex ">Rp. 250.000</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="card mx-4 mb-3">
              <img src="../static/image/item3.jpg" class="card-img-top d-block" alt="Gambar 3">
            </div>
            <div class="card-body text-light mx-4 d-flex justify-content-lg-between">
              <p class="card-text">Produk 4</p>
              <p class="card-text d-flex ">Rp. 250.000</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="card mx-4 mb-3">
              <img src="../static/image/item4.jpg" class="card-img-top" alt="Gambar 4">
            </div>
            <div class="card-body text-light mx-4 d-flex justify-content-lg-between">
              <p class="card-text">Produk 4</p>
              <p class="card-text d-flex ">Rp. 250.000</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img src="../static/image/display1.jpg" alt="Gambar Kiri" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h1 class="d-flex justify-content-center align-items-center flex-column px-4 py-2 px-sm-0 h-100 text-light">ASTRALIS 22/23 GAME JERSEY</h1>
          </div>
        </div>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>